<extend name="Public:base"/>
</extend>
<block name="main">
    <div class="admin">
        <div class="tab">
            <div class="tab-head">
                <strong>
                    回复管理
                </strong>
                <ul class="tab-nav">
                    <li class="active">
                        <a href="#tab-set">
                            回复评论
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-body">
                <br/>
                <div class="tab-panel active" id="tab-set">
                    <form action="/Admin/commentcleadd" class="form-x" method="post">
                        <input type="hidden" name="comment_id" value="{$list}">
                        <div class="form-group">
                            <div class="label">
                                <label for="readme">
                                    回复内容
                                </label>
                            </div>
                            <div class="field">
                                <textarea class="input" cols="50" data-validate="required:请填写回复内容" name="content" placeholder="请填写回复内容" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-button">
                            <button class="button bg-main" type="submit">
                                提交
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="height:20px; border-bottom:1px #DDD solid">
        </div>
        <p class="text-right text-gray" style="float:right">
            基于
            <a class="text-gray" href="#" target="_blank">
                MVC框架
            </a>
            构建
        </p>
    </div>
</block>