<extend name="Public:base" />
</extend>
<block name='main'>

    <main id="main">

    <div class="container">
        <div class="row topspace">
            <div class="col-sm-8 col-sm-offset-2">
                <foreach name="list" item="vo">                                            
                    <article class="post">
                        <header class="entry-header">
                            <div class="entry-meta"> 
                                <span class="posted-on"><time class="entry-date published" date="2013-09-27">{$vo['created_at']|date="Y-m-d",###}</time></span>           
                            </div>
                            <h1 class="entry-title"><a href="/Home/articleOne/{$vo['id']}" rel="bookmark" style="font-size:25px;">{$vo['title']}</a></h1>
                        </header>
                        <div class="entry-content">
                            <p>{$vo['desc']}</p>
                        </div>
                    </article>
                </foreach>
                
            </div> 
        </div>

        <center class="">
            <ul class="pagination">
              {$page}
            </ul>
        </center>
    

    </div>  <!-- /container -->

</main>
</block>